include _components/head
  title Гражданство
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/bg-header_page3.jpg" alt='')
                .section__header-title justifying confidence

              .section__citiz.section
                .section__citiz-bg.section__bg
                .section__citiz-content.section__content
                  .row
                    .col-xs-12
                      .section__citiz-title.section__title_purple
                        h1=content.citizen.citizenOrder.citizenOrderTitle
                  .row
                    .col-xs-12
                      .section__citiz-text
                        .citiz-text_get
                          =content.citizen.citizenOrder.citizenOrderDesc
                  .row
                    .col-xs-12
                      .section__three-blocks
                        .section__three-blocks_title
                          =content.citizen.citizenOrder.citizenOrderStage
                        .section__three-blocks_block
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/Moskow.jpg' alt='РВП')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.citizen.citizenOrder.citizenOrderBlockTitle1
                              button.section__btn=content.components.buttonMore
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/vng.jpg' alt='ВНЖ')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.citizen.citizenOrder.citizenOrderBlockTitle2
                              button.section__btn=content.components.buttonMore
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_3/citizen/citizen.jpg' alt='Гражданство РФ')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.citizen.citizenOrder.citizenOrderBlockTitle3
                              button.section__btn=content.components.buttonMore
                  .row
                    .col-xs-12
                      .section__citiz-text
                        .citiz-text_invitation
                          =content.citizen.citizenOrder.citizenOrderText1
                        .citiz-text_manager
                          =content.citizen.citizenOrder.citizenOrderText2
                        .citiz-text_law
                          =content.citizen.citizenOrder.citizenOrderText3

              .section__citiz_enumeration.section
                .section__citiz_enumeration-bg.section__bg
                .section__citiz_enumeration-content.section__content
                  .row
                    .col-xs-12
                      ul.section__citiz_enumeration-list
                        li.section__citiz_enumeration-item
                          span=content.citizen.citizenOrder.citizenOrderSpan1
                        li.section__citiz_enumeration-item
                          span=content.citizen.citizenOrder.citizenOrderSpan2
                          =content.citizen.citizenOrder.citizenOrderDesc2
                        li.section__citiz_enumeration-item
                          span=content.citizen.citizenOrder.citizenOrderSpan3
                          =content.citizen.citizenOrder.citizenOrderDesc3
                        li.section__citiz_enumeration-item
                          span=content.citizen.citizenOrder.citizenOrderSpan4
                          =content.citizen.citizenOrder.citizenOrderDesc4
                        li.section__citiz_enumeration-item
                          span=content.citizen.citizenOrder.citizenOrderSpan5
                          =content.citizen.citizenOrder.citizenOrderDesc5

              .section__citiz_order.section
                .section__citiz_order-bg.section__bg
                .section__citiz_order-content.section__content
                  .row
                    .col-xs-12
                      .citiz_order-text.section__citiz-text
                        =content.citizen.citizenOrder.citizenOrderText4
              .section__citiz_requirement.section
                .section__citiz_requirement-bg.section__bg
                .section__citiz_requirement-content.section__content
                  .row
                    .col-xs-12
                      .section__citiz_requirement-text.section__citiz-text
                        =content.citizen.citizenOrder.citizenOrderText5



              .section__rvp.section
                .section__rvp-bg.section__bg
                .section__rvp-content.section__content
                  .row
                    .col-xs-12
                      .section__rvp-title.section__title_purple
                        h1=content.citizen.citizenRvp.citizenRvpTitle
                  .row
                    .col-xs-12
                      .section__rvp-text
                        .rvp-text_resolution
                          =content.citizen.citizenRvp.citizenRvpDesc
                        .rvp-text_time
                          =content.citizen.citizenRvp.citizenRvpText1
                        .rvp-text_limit
                          =content.citizen.citizenRvp.citizenRvpText2

              .section__rvp_enumeration.section
                .section__rvp_enumeration-bg.section__bg
                .section__rvp_enumeration-content.section__content
                  .row
                    .col-xs-12
                      .section__rvp_enumeration-title.section__title_purple
                        h4=content.citizen.citizenQuota.citizenQuotaTitle
                  .row
                    .col-xs-12
                      ul.rvp_enumeration-list
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan1
                          =content.citizen.citizenQuota.citizenQuotaDesc1
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan2
                          =content.citizen.citizenQuota.citizenQuotaDesc2
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan3
                          =content.citizen.citizenQuota.citizenQuotaDesc3
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan4
                          =content.citizen.citizenQuota.citizenQuotaDesc4
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan5
                          =content.citizen.citizenQuota.citizenQuotaDesc5
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan6
                          =content.citizen.citizenQuota.citizenQuotaDesc6
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan7
                          =content.citizen.citizenQuota.citizenQuotaDesc7
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan8
                          =content.citizen.citizenQuota.citizenQuotaDesc8
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan9
                          =content.citizen.citizenQuota.citizenQuotaDesc9
                        li.rvp_enumeration-item
                          span=content.citizen.citizenQuota.citizenQuotaSpan10
                          =content.citizen.citizenQuota.citizenQuotaDesc10


              .section__residence.section
                .section__residence-bg.section__bg
                .section__residence-content.section__content
                  .row
                    .col-xs-12
                      .section__residence-title.section__title_white
                        h1=content.citizen.citizenVng.citizenVngTitle
                  .row
                    .col-xs-12
                      .section__residence-text
                        .residence-text_info
                          =content.citizen.citizenVng.citizenVngText1
                        .residence-text_time
                          =content.citizen.citizenVng.citizenVngText2
                        .residence-text_life
                          =content.citizen.citizenVng.citizenVngText3

              include _components/contacts
              include _components/map
              include _components/form
  include _components/scripts


