include _components/head
  title Выездные визы
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.header-img-exit-viza.img-responsive(src="./assets/img/header/bg-header_page6_1.jpg" alt='')
                .section__header-title world without boarders
              .section__exit-visa.section
                .section__exit-visa-bg.section__bg
                .section__exit-visa-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-title.section__title_purple
                        h1=content.exitVisa.exitVisaTitle1
                  .row
                    .col-xs-12
                      .section__exit-visa-text
                        .exit-visa-text_desc
                          =content.exitVisa.exitVisaDesc

              .section__exit-visa-time.section
                .section__exit-visa-time-bg.section__bg
                .section__exit-visa-time-content.section__content
                  .row
                    .col-xs-12
                      ul.section__exit-visa-time-list
                        li.section__exit-visa-time-item
                          =content.exitVisa.exitVisaText1
                        li.section__exit-visa-time-item
                          =content.exitVisa.exitVisaText2
              .section__exit-visa-useful.section
                .section__exit-visa-useful-bg.section__bg
                .section__exit-visa-useful-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-useful-title
                        h4=content.exitVisa.exitVisaTitle2
                      ul.section__exit-visa-useful-list
                        li.section__exit-visa-useful-item
                          span=content.exitVisa.exitVisaText3Span3
                          =content.exitVisa.exitVisaText3
                        li.section__exit-visa-useful-item
                          span=content.exitVisa.exitVisaText4Span4
                          =content.exitVisa.exitVisaText4
                        li.section__exit-visa-useful-item
                          span=content.exitVisa.exitVisaText5Span5
                          =content.exitVisa.exitVisaText5
              .section__exit-visa-advantages.section
                .section__exit-visa-advantages-bg.section__bg
                .section__exit-visa-advantages-content.section__content
                  .row
                    .col-xs-12
                      .section__exit-visa-advantages-title.section__title_white
                        h4=content.exitVisa.exitVisaTitle3
                      ul.section__exit-visa-advantages-list
                        li.section__exit-visa-advantages-item
                          =content.exitVisa.exitVisaText6
                        li.section__exit-visa-advantages-item
                          =content.exitVisa.exitVisaText7
                        li.section__exit-visa-advantages-item
                          =content.exitVisa.exitVisaText8
                        li.section__exit-visa-advantages-item
                          =content.exitVisa.exitVisaText9
                        li.section__exit-visa-advantages-item
                          =content.exitVisa.exitVisaText10


              include _components/contacts
              include _components/map
              include _components/form

  include _components/scripts



