include _components/head
  title Главная
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/fon_up_paris_1.jpg" alt='')
                .section__header-title The art of services

              .section__about.section
                .section__about-bg.section__bg
                .section__about-content.section__content
                  .row#company
                    .col-xs-12
                      .section__about-title.section__title_purple
                        h1=content.aboutCompany.about.titleAbout
                  .row
                    .col-xs-12
                      .section__about-text.section__content-text
                        =content.aboutCompany.aboutTextBegin
                        span=content.aboutCompany.about.aboutTextSpan
                        =content.aboutCompany.about.aboutText
                  include _components/social


              .section__service.section
                .section__service-bg.section__bg.service_bg
                .section__service-content.section__content
                  .row#service
                    .col-xs-12
                      .section__service-title.section__title_white
                        h1=content.aboutCompany.service.serviceTitle
                  .row
                    .col-xs-12
                      .section__service-text.section__content-text
                        .section__service-text_phrase=content.aboutCompany.service.serviceTextPhrase
                        .section__service-text_desc=content.aboutCompany.service.serviceTextDesc
                        .section__service-text_slogan=content.aboutCompany.service.serviceTextSlogan

              .section__cooperation.section
                .section__cooperation-bg.section__bg
                .section__cooperation-content.section__content
                  .row
                    .col-xs-12
                      .section__cooperation-title.section__title_purple
                        h1=content.aboutCompany.cooperation.cooperationTitle
                  .row
                    .col-xs-12
                      .section__cooperation-text.section__content-text
                        =content.aboutCompany.cooperation.cooperationTextBegin
                        span=content.aboutCompany.cooperation.cooperationTextSpan
                        =content.aboutCompany.cooperation.cooperationText
                  .row
                    .col-sm-3
                      .section__cooperation-item
                        .section__cooperation-photo
                          img.section__cooperation-img(src='../../../assets/img/page_1/cooperation/project_manager.png' alt='Менеджер проектов')
                        .section__cooperation-post
                          span Project&nbsp;
                          | manager
                    .col-sm-3
                      .section__cooperation-item
                        .section__cooperation-photo
                          img.section__cooperation-img(src='../../../assets/img/page_1/cooperation/implant_manager.png' alt='Менеджер проектов')
                        .section__cooperation-post
                          span Implant&nbsp;
                          | manager
                    .col-sm-3
                      .section__cooperation-item
                        .section__cooperation-photo
                          img.section__cooperation-img(src='../../../assets/img/page_1/cooperation/account_manager.png' alt='Менеджер проектов')
                        .section__cooperation-post
                          span Key account&nbsp;
                          | manager
                    .col-sm-3
                      .section__cooperation-item
                        .section__cooperation-photo
                          img.section__cooperation-img(src='../../../assets/img/page_1/cooperation/option_manager.png' alt='Менеджер проектов')
                        .section__cooperation-post
                          span Your option&nbsp;
                          | manager



              .section__advantages.section
                .section__advantages-bg.section__bg
                .section__advantages-content.section__content
                  .row
                    .col-xs-12
                      .section__advantages-title.section__title_white
                        h1=content.aboutCompany.advantages.advantagesTitle
                  .row.section__advantages-block
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/honesty.png' alt='Честность')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleHon
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescHon
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/use.png' alt='Польза')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleBen
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescBen
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/expert.png' alt='Экспертность')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleExp
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescExp
                  .row.section__advantages-block.advantages-margin-top
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/access.png' alt='Доступность')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleAv
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescAv
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/support.png' alt='Поддержка')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleSup
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescSup
                    .col-sm-4
                      .section__advantages-item
                        img.section__advantages-icon(src='../../../assets/img/page_1/advantages/flexible.png' alt='Гибкость')
                        .section__advantages-text
                          .advantages-desc-title=content.aboutCompany.advantages.advantagesDescTitleFlex
                          .advantages-desc-desc=content.aboutCompany.advantages.advantagesDescFlex



              .section__news.section
                .section__news-bg.section__bg
                .section__news-content.section__content
                  .row#news
                    .col-xs-12
                      .section__news-title.section__title_white
                        h1=content.aboutCompany.news.newsTitle
                  .row
                    .col-sm-12
                      .section__news-block
                        .section__news-item.padding_news1
                          .section__news-date
                            span 20.06.2017
                          .section__news-text=content.aboutCompany.news.newsText1
                          button.section__btn=content.components.buttonMore
                        .section__news-item.padding_news2
                          .section__news-date
                            span 01.07.2017
                          .section__news-text=content.aboutCompany.news.newsText2
                          button.section__btn=content.components.buttonMore
                        .section__news-item.padding_news3
                          .section__news-date
                            span 15.07.2017
                          .section__news-text=content.aboutCompany.news.newsText3
                          button.section__btn=content.components.buttonMore

              .section__clients.section
                .section__clients-bg.section__bg.clients-bg
                .section__clients-content.section__content
                  .row
                    .col-xs-12
                      .section__clients-title.section__title_purple
                        h1=content.aboutCompany.clients.clientsTitle
                  .row
                    .col-sm-12
                      .section__slider
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/renaissance_logo.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/fuji.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/hitachi.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/samsung.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/mvideo.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/softline_1.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/mts.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/adidas_1.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/oliwer_1.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/lilly_1.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/total_1.png" alt='')
                        .section__slider-item
                          img.section__slider-logo(src="../../../assets/img/page_1/clients/icopal_1.png" alt='')

              include _components/contacts
              include _components/map
              include _components/form
  include _components/scripts


