include _components/head
  title=content.visa.visaRf.visaRfTitle
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/bg-header_page2_1.jpg" alt='')
                .section__header-title justifying confidence

              .section__visa.section
                .section__visa-bg.section__bg
                .section__visa-content.section__content
                  .row
                    .col-xs-12
                      .section__visa-title.section__title_purple
                        h1=content.visa.visaRf.visaRfTitle
                  .row
                    .col-xs-12
                      .section__visa-text
                        .visa-text_doc=content.visa.visaRf.visaRfDoc
                        .visa-text_invitation
                          =content.visa.visaRf.visaRfInvitBegin
                          span=content.visa.visaRf.visaRfSpan
                          =content.visa.visaRf.visaRfDesc
                        .visa-text_invitation-type=content.visa.visaRf.visaRfType
                  .row
                    .col-xs-12
                      .section__three-blocks
                        .section__three-blocks_title
                          =content.visa.visaRf.visaRfDep
                        .section__three-blocks_block
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_2/visa/bussiness-cuple.jpg' alt='Деловые')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.visa.visaRf.visaRfTitleBus
                              a(href=baseUrl + "#bus")
                                button.section__btn=content.components.buttonMore
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_2/visa/family.jpg' alt='Туристические')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.visa.visaRf.visaRfTitleTour
                              a(href=baseUrl + "#tour")
                                button.section__btn=content.components.buttonMore
                          .three-blocks_block-item
                            img.three-blocks-img.img-responsive(src='../../../assets/img/page_2/visa/job.jpg' alt='Рабочие')
                            .three-blocks-bg
                              .three-blocks-bg_title=content.visa.visaRf.visaRfTitleEmpl
                              a(href=baseUrl + "#empl")
                                button.section__btn=content.components.buttonMore


              .section__bus-invit_part-one.section
                .section__bus-invit-bg.section__bg
                .section__bus-invit-content.section__content
                  .row#bus
                    .col-xs-12
                      .section__bus-invit-title.section__title_purple
                        h2=content.visa.busInvit.busInvitTitle
                  .row
                    .col-xs-12
                      .section__bus-invit-text
                        =content.visa.busInvit.busInvitDesc1
              .section__invit-quest.section
                .section__invit-quest-bg.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img
                        span=content.visa.busInvit.busInvitQuest
              .section__bus-invit_part-two.section
                .section__bus-invit-bg.section__bg
                .section__bus-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__bus-invit-text.invit-text-margin
                        =content.visa.busInvit.busInvitDesc2
                  .row
                    .col-xs-6
                      .section__bus-invit-multiple
                        .bus-invit_title
                          =content.visa.busInvit.busInvitTitleItems1
                        .bus-invit_text
                          =content.visa.busInvit.busInvitText1
                    .col-xs-6
                      .section__bus-invit-time
                        .bus-invit_title
                          =content.visa.busInvit.busInvitTitleItems2
                        .bus-invit_text
                          =content.visa.busInvit.busInvitText2

              .section__bus-invit-registration.section
                .section__bus-invit-registration-bg.section__bg.invit-registration-bg
                .section__bus-invit-registration-content.section__content
                  .bus-invit-registration-block
                    .bus-invit-registration-img.invit-reg-time
                    .bus-invit-registration-text
                      .bus-invit-registration-text_title
                        =content.visa.busInvitReg.busInvitRegTitle1
                      .bus-invit-registration-text_desc
                        =content.visa.busInvitReg.busInvitRegDesc1
                  .bus-invit-registration-block
                    .bus-invit-registration-img.invit-reg-warning
                    .bus-invit-registration-text
                      .bus-invit-registration-text_title
                        =content.visa.busInvitReg.busInvitRegTitle2
                      .bus-invit-registration-text_desc
                        =content.visa.busInvitReg.busInvitRegDesc2


              .section__tourists-invit_part-one.section
                .section__tourists-invit-bg.section__bg
                .section__tourists-invit-content.section__content
                  .row#tour
                    .col-xs-12
                      .section__tourists-invit-title.section__title_purple
                        h2=content.visa.touristsInvit.touristsInvitTitle
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__tourists-invit-text.text_color-gray
                          =content.visa.touristsInvit.touristsInvitDesc1
                        .section__tourists-invit-text.text_color-gray
                          =content.visa.touristsInvit.touristsInvitDesc2
                          span=content.visa.touristsInvit.touristsInvitDesc2Span
                          =content.visa.touristsInvit.touristsInvitDesc3

              .section__invit-quest.section
                .section__invit-quest-bg.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img

                        span=content.visa.touristsInvit.touristsInvitQust

              .section__tourists-invit_part-two.section
                .section__tourists-invit-bg.section__bg
                .section__tourists-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__tourists-invit-text.text_color-gray
                          =content.visa.touristsInvit.touristsInvitDesc4
                        .section__tourists-invit-text.text_color-purple.text_weight-bold
                          =content.visa.touristsInvit.touristsInvitDesc5


              .section__job-invit.section
                .section__job-invit-bg.section__bg
                .section__job-invit-content.section__content
                  .row#empl
                    .col-xs-12
                      .section__job-invit-title.section__title_white
                        h2=content.visa.jobInvit.jobInvitTitle
                  .row
                    .col-xs-12
                      .section__tourists-invit-text_block
                        .section__job-invit-text
                          =content.visa.jobInvit.jobInvitDesc1
                        .section__job-invit-text
                          span=content.visa.jobInvit.touristsInvitDesc2Span
                          =content.visa.jobInvit.touristsInvitDesc2

                    .section__job-invit-time_block
                      .section__job-invit-time
                        .job-invit-time_title
                          =content.visa.jobInvit.touristsInvitTitleItem1
                        .job-invit-time_text
                          =content.visa.jobInvit.touristsInvitText1
                        .job-invit-time_time-limit
                          =content.visa.jobInvit.touristsInvitTime1
                      .section__job-invit-time
                        .job-invit-time_title
                          =content.visa.jobInvit.touristsInvitTitleItem2
                        .job-invit-time_text
                          =content.visa.jobInvit.touristsInvitText2
                        .job-invit-time_time-limit
                          =content.visa.jobInvit.touristsInvitTime2

              .section__invit-quest.section
                .section__invit-quest-bg.invit-quest-bg-gray.section__bg
                .section__invit-quest.section__content-invit-quest
                  .row
                    .col-xs-12
                      .invit-quest-title
                        .invit-quest-img
                        span=content.visa.jobInvit.touristsInvitQust


              .section__info-invit.section
                .section__info-invit-bg.section__bg
                .section__info-invit-content.section__content
                  .row
                    .col-xs-12
                      .section__info-invit-text
                        =content.visa.jobInvit.touristsInvitDesc3

              include _components/contacts
              include _components/map
              include _components/form

  include _components/scripts



