include _components/head
  title Вебинар-академия
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/bg-header_page5_1.jpg" alt='')
                .section__header-title our webinar academy

              .section__web.section
                .section__web-bg.section__bg
                .section__web-content.section__content
                  .row
                    .col-xs-12
                      .section__web-title.section__title_purple
                        h1=content.webinar.webinarTitle1
                  .row
                    .col-xs-12
                      .section__web-desc
                        =content.webinar.webinarDesc
                        | Вебинар-академия Mellennium Travel - это обучающая on-line платформа, созданная для удобства обучения и информирования наших клиентов, а также построение нового типа коммуникации, основанного на удобстве предоставления информации. Мы создаем новые стандарты онлайн-обучения, которые помогают нам делиться с клиентами уникальным опытом, легко передавать знания и тем самым выводить бизнес-процессы на новый уровень.
                  .row
                    .web__video-block
                      .col-xs-6
                        .web__video-block_desc
                          .web__video-block-title
                            h3=content.webinar.webinarTitle2
                          .web__video-block-text
                            =content.webinar.webinarText1
                          .web__video-block-text_time
                            =content.webinar.webinarText1Span1
                      .col-xs-6
                        .web__video-block_webinar
                          .web__video-block-video
                            iframe(src="https://www.youtube.com/embed/icx6vh23_D8?start=347&amp;rel=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" allowfullscreen)
                          button(data-target="#myModalBox" data-toggle="modal").section__web-btn
                            img.section__web-btn_img(src='./assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                            span=content.components.buttonWatch
                  .row
                    .web__info-block
                      .web__info-block_desc
                        .web__info-block-title
                          h3=content.webinar.webinarBlockTitle1
                        .web__info-block-text
                          =content.webinar.webinarBlockText1
                        .web__info-block-text_people
                          =content.webinar.webinarBlockText1Span1
                        button(data-target="#myModalBox" data-toggle="modal").section__web-btn
                          img.section__web-btn_img(src='./assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                          span=content.components.buttonWatch
                      .web__info-block_desc
                        .web__info-block-title
                          h3=content.webinar.webinarBlockTitle2
                        .web__info-block-text
                          =content.webinar.webinarBlockText2
                        .web__info-block-text_people
                          =content.webinar.webinarBlockText2Span2
                        button(data-target="#myModalBox" data-toggle="modal").section__web-btn
                          img.section__web-btn_img(src='./assets/img/page_5/arrow.png' alt='Смотреть видео' width='27' height='27')
                          span=content.components.buttonWatch



              include _components/contacts
              include _components/map
              include _components/form


  include _components/scripts


  #myModalBox.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        iframe(src='https://www.youtube.com/embed/icx6vh23_D8?start=347&amp;rel=0&amp;showinfo=0?ecver=2', width='100%', height='100%', frameborder='0',allowfullscreen='')






