include _components/head
  title=content.workPermit.workPermitDesc.workPermitDescTitle
body#header
  wrapper
    include _components/header
    main
      .page-wrapper
        include _components/sidebar
        .content-wrapper
          .container-block
            .row
              .section__header.section
                .section__header-bg.section__bg
                  img.section__header-img.img-responsive(src="./assets/img/header/bg-header_page7_1.jpg" alt='')
                .section__header-title Attention to details

              .section__work-permit.section
                .section__work-permit-bg.section__bg
                .section__work-permit-content.section__content
                  .row
                    .col-xs-12
                      .section__work-permit-title.section__title_purple
                        h1=content.workPermit.workPermitDesc.workPermitDescTitle
                  .row
                    .col-xs-12
                      .section__work-permit-text
                        !=content.workPermit.workPermitDesc.workPermitDescText
                  .row
                    .col-xs-12
                      .section__three-blocks
                        .section__three-blocks_title.section__two-blocks_title
                          =content.workPermit.workPermitDesc.workPermitDescDep
                        .section__three-blocks_block.section__two-blocks_block
                          .three-blocks_block-item.section__two-blocks_item
                            img.three-blocks-img.img-responsive(src='./assets/img/page_7/men.jpg' alt='Разрешение на работу ВКС')
                            .three-blocks-bg
                              .three-blocks-bg_title.section__two-bg_title=content.workPermit.workPermitDesc.workPermitDescBlock1
                              a(href="./assets/files/Схематическая модель оформления РНР ВКС.pdf" download)
                                button.section__btn=content.components.buttonMore
                          .three-blocks_block-item.section__two-blocks_item
                            img.three-blocks-img.img-responsive(src='./assets/img/page_7/worker.jpg' alt='Разрешение на работу на 1 год')
                            .three-blocks-bg
                              .three-blocks-bg_title.section__two-bg_title=content.workPermit.workPermitDesc.workPermitDescBlock2
                              a(href="./assets/files/Схематическая модель оформления РНР на 1 год (станд.процедура).pdf" download)
                                button.section__btn=content.components.buttonMore
                          .three-blocks_block-item.section__two-blocks_item
                            img.three-blocks-img.img-responsive(src='./assets/img/page_7/eais.jpg' alt='Граждане ЕАЭС')
                            .three-blocks-bg
                              .three-blocks-bg_title.section__two-bg_title=content.workPermit.workPermitDesc.workPermitDescBlock3
                              a(href="./assets/files/Схематическая модель оформления ЕВРАЗЭС.pdf" download)
                                button.section__btn=content.components.buttonMore
                          .three-blocks_block-item.section__two-blocks_item
                            img.three-blocks-img.img-responsive(src='./assets/img/page_7/patent.jpg' alt='Патент')
                            .three-blocks-bg
                              .three-blocks-bg_title.section__two-bg_title=content.workPermit.workPermitDesc.workPermitDescBlock4
                              a(href="./assets/files/Схематическая модель оформления  Патент.pdf" download)
                                button.section__btn=content.components.buttonMore


              .section__work-permit_vks.section
                .section__work-permit_vks-bg.section__bg
                .section__work-permit_vks-content.section__content
                  .row
                    .col-xs-12
                      .section__work-permit_vks-title.section__title_purple
                        h2=content.workPermit.workPermitVks.workPermitVksTitle
                  .row
                    .col-xs-12
                      .work-permit_vks-list
                        .work-permit_vks-item
                          .work-permit_vks-item_title
                            =content.workPermit.workPermitVks.workPermitVksText1Begin
                            span=content.workPermit.workPermitVks.workPermitVksSpan1
                            .work-permit_vks-item_title-text
                              =content.workPermit.workPermitVks.workPermitVksText1
                        .work-permit_vks-item
                          .work-permit_vks-item_title
                            span=content.workPermit.workPermitVks.workPermitVksSpan2
                            =content.workPermit.workPermitVks.workPermitVksSpan2Litle
                          .work-permit_vks-item_text
                            =content.workPermit.workPermitVks.workPermitVksText2
                        .work-permit_vks-item
                          .work-permit_vks-item_title
                            span=content.workPermit.workPermitVks.workPermitVksSpan3
                            =content.workPermit.workPermitVks.workPermitVksSpan3Litle
                          .work-permit_vks-item_text
                            =content.workPermit.workPermitVks.workPermitVksText3
                        .work-permit_vks-item
                          .work-permit_vks-item_title
                            span=content.workPermit.workPermitVks.workPermitVksSpan4
                            =content.workPermit.workPermitVks.workPermitVksSpan4Litle
                          .work-permit_vks-item_text
                            =content.workPermit.workPermitVks.workPermitVksText4
                        .work-permit_vks-item
                          .work-permit_vks-item_title
                            span=content.workPermit.workPermitVks.workPermitVksSpan5
                            =content.workPermit.workPermitVks.workPermitVksSpan5Litle
                          .work-permit_vks-item_text
                            =content.workPermit.workPermitVks.workPermitVksText5
                            span=content.workPermit.workPermitVks.workPermitVksSpan6
              .section__work-permit-warning.section
                .section__work-permit-warning-bg.section__bg
                .section__work-permit-warning.section__content
                  .row
                    .col-xs-12
                      .work-permit-warning-title
                        .work-permit-warning-img
                        .work-permit-warning-text
                          =content.workPermit.workPermitVks.workPermitVksWarning

              .section__advantages-expat.section
                .section__advantages-expat-bg.section__bg
                .section__advantages-expat-content.section__content
                  .row
                    .col-xs-12
                      .section__advantages-expat-title.section__title_purple
                        h2=content.workPermit.workPermitAdvant.workPermitAdvantTitle
                  .row.section__advantages-expat-block
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem1
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem2
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem3
                  .row.section__advantages-expat-block
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem4
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem5
                    .col-sm-4
                      .section__advantages-expat-item
                        .section__advantages-expat-icon
                        .section__advantages-expat-text
                          =content.workPermit.workPermitAdvant.workPermitAdvantItem6

              .section__work-permit-notice.section
                .section__work-permit-notice-bg.section__bg
                .section__work-permit-notice-content.section__content
                  .row
                    .col-xs-12
                      .section__work-permit-notice-title.section__title_purple
                        h4=content.workPermit.workPermitNotice.workPermitNoticeTitle1
                      .section__work-permit-notice-text
                        =content.workPermit.workPermitNotice.workPermitNoticeText1
                  .row
                    .col-xs-12
                      .section__work-permit-notice-title.section__title_purple
                        h4=content.workPermit.workPermitNotice.workPermitNoticeTitle2
                      .section__work-permit-notice-text
                        =content.workPermit.workPermitNotice.workPermitNoticeText2
                      .section__work-permit-notice-text-order
                        span=content.workPermit.workPermitNotice.workPermitNoticeSpan1
                        =content.workPermit.workPermitNotice.workPermitNoticeText3

              include _components/contacts
              include _components/map
              include _components/form

  include _components/scripts



