include ./script
header.header
  .header-container
    //a.header__logo(href=baseUrl +"#header")
    .header__logo
      .header__mobile-icon
      img.header__logo-img.img-responsive(src="../../../assets/img/header/logo.png" alt='')
    .header__contact
      ul.header__contact-list
        li.header__contact-item
          a(href="tel:+74957838311").header__contact-link
            img.header__contact-img(src='../../../assets/img/header/telefon.png' alt='Телефон' width='27' height='27')
            span +7(495)783 83 11
        li.header__contact-item
          a(href="tel:+79057703090").header__contact-link
            img.header__contact-img(src='../../../assets/img/header/24.png' alt='Поддержка' width='27' height='27')
            span +7(905)770 30 90
        li.header__contact-item
          a(href="mailto:visa@mltravel.ru").header__contact-link
            span=content.header.headerContactEmail
        li.header__contact-item
          .header__contact-lang-block
            - var activeRu = content.lang == "ru" ? " active" : "";
            - var activeEn = content.lang == "en" ? " active" : "";
            a(href=content.lang == 'ru' ? './' : '../', class='header__contact-lang rus' + activeRu) Ru
            a(href=content.lang == 'ru' ? './en/' : '../en/', class='header__contact-lang'+ activeEn) En

      .header__menu
        ul.header__menu-list
          li.header__menu-item
            a(href=baseUrl + "#company").header__menu-link=content.header.headerMenuAbout
          li.header__menu-item
            a(href=baseUrl +"#service").header__menu-link=content.header.headerMenuService
          li.header__menu-item
            a(href=baseUrl + "#news").header__menu-link=content.header.headerMenuNews
          li.header__menu-item
            a(href=baseUrlContact + "#contacts").header__menu-link=content.header.headerMenuContacts
    aside.sidebar_mobile
      ul.sidebar__list_mobile
        li.sidebar__list-item_mobile
          a(href=baseUrl + "index.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.header.headerMenuAbout
        li.sidebar__list-item_mobile
          a(href=baseUrl + "#service").sidebar-link_mobile
            .sidebar-desc_mobile=content.header.headerMenuService
        li.sidebar__list-item_mobile
          a(href=baseUrl + "#news").sidebar-link_mobile
            .sidebar-desc_mobile=content.header.headerMenuNews
        li.sidebar__list-item_mobile
          a(href=baseUrl + "#contacts").sidebar-link_mobile
            .sidebar-desc_mobile=content.header.headerMenuContacts

        li.sidebar__list-item_mobile
          a(href=baseUrl + "visa.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescVisa
        li.sidebar__list-item_mobile
          a(href=baseUrl + "work-permit.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescWork
        li.sidebar__list-item_mobile
          a(href=baseUrl + "exit-visa.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescExitVisa
        li.sidebar__list-item_mobile
          a(href=baseUrl + "citizenship.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescCitizen
        li.sidebar__list-item_mobile
          a(href=baseUrl + "webinar.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescWebinar
        li.sidebar__list-item_mobile
          a(href=baseUrl + "other-services.html").sidebar-link_mobile
            .sidebar-desc_mobile=content.sidebar.sidebarDescOther

//include ../_components/sidebar_mobile
//.fade



