include ./script
.sidebar
  ul.sidebar-list
    li.sidebar-item
      a(href=baseUrl + "visa.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/visa.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescVisa
    li.sidebar-item
      a(href=baseUrl + "work-permit.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/jobs.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescWork
    li.sidebar-item
      a(href=baseUrl + "exit-visa.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/visa1.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescExitVisa
    li.sidebar-item
      a(href=baseUrl + "citizenship.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/citizen.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescCitizen
    li.sidebar-item
      a(href=baseUrl + "webinar.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/academy.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescWebinar
    li.sidebar-item
      a(href=baseUrl + "other-services.html").sidebar-link
        img.sidebar-img.img-responsive(src="../../../assets/img/sidebar/service.png" alt='')
        .sidebar-desc=content.sidebar.sidebarDescOther
